<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <h3>Se Connecter</h3>
            <form [formGroup]="SignInForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary">connexion</button>
            </form>
        </div>
    </div>
</div>
